*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body{
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg,rgba(106, 189, 217, 0.814)0%,#134c82b2 100%);
}